@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box{
    width:fit-content;
    height:fit-content;
    border-radius: 1rem;
    padding: .5rem;
}