.all__CocktailCard--container{
    @include flex-center;
    flex-wrap: wrap;
    gap: 3rem;
}
.cocktailCard__container{
    background: $bgCardOne;
    text-align: center;
    box-shadow: $shadow;
    transition: transform 330ms ease-in-out;
    @include box;
    max-width: 22rem;
    min-height: 29.1rem;
    &:hover{
        transform: scale(1.02);
    }
    a > img:first-child{
        border-radius: 1rem 1rem 0 0;
        width: 22rem ;
    }
    figcaption{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: .5rem;
        height: 5.8rem;
        h2{
            padding-top: .5rem;
            margin: 0;
        }
        img{
            width: 30px;
            padding-inline: .5rem;
            animation: rotate-animation 10s infinite linear;
        }
    }
    &:nth-child(2n){
        background: $bgCardTwo;
    }
    &:nth-child(3n){
        background: $bgCardThree;
    }
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
}
50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}